@page
@model Prueba_AspNet.Pages.PageReportes.VentasXClienteModel
@{
}
<div class="text-left">
    <h1 class="display-4 text-center">Ventas por Cliente</h1>
    <div class="row">
        <div class="col-sm-12 text-right">
        </div>
        <form method="post">
            <div class="row">
                <div class="col-sm-4 text-right">
                    <div class="form-group">
                        <select id="idCliente" name="idCliente" class="form-control">
                            <option value="">Seleccione un cliente</option>
                            @foreach (var cli in Model.clientes)
                            {
                                <option value="@cli.Id">@cli.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 text-left">
                    <button type="submit" class="btn btn-info"
                        asp-page-handler="Buscar">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>
            </div>
        </form>
        <table class="table text-center">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Fecha</td>
                    <td>Cliente</td>
                    <td>Articulo</td>
                    <td>Importe</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.VentasXCli != null && Model.VentasXCli.Any())
                {
                    @foreach (var unVen in Model.VentasXCli)
                    {
                        <tr>
                            <td>@unVen.Id</td>
                            <td>@unVen.Fecha.ToShortDateString()</td>
                            <td>@unVen.Cliente.Nombre</td>
                            <td>@unVen.Articulo.Nombre</td>
                            <td>$@unVen.Importe</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No hay ventas para el cliente seleccionado</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!string.IsNullOrEmpty(Model.Mensaje))
        {
            <div class="alert alert-warning" role="alert">
                @Model.Mensaje
            </div>
        }
    </div>
</div>